@import "colors-waybar.css";

* {
    font-family: "JetBrains Mono";
    font-size: 12px;
    min-height: 0;
    border: 0px;
}

window#waybar {
    background: transparent;
    color: @foreground;
    padding: 2px;
}

.modules-right {
    background: @background;
    margin: 2px;
    padding: 2px;
}

#workspaces,
#pulseaudio,
#cpu,
#memory,
#battery,
#backlight,
#network,
#clock,
#tray {
    background: @color0;
    color: @foreground;
    padding: 2px 6px;
    margin: 2px;
}

#workspaces {
    padding: 2px 2px;
}

#workspaces button {
    background: @color0;
    color: @foreground;
    padding: 2px 4px;
    margin: 2px;
}

#workspaces button.hidden {
    background: transparent;
    color: @color8;
}

#workspaces button.active {
    color: @color4;
}

#workspaces button.urgent {
    color: @color1;
}

#workspaces button.visible {
    background: @foreground;
    color: @background;
}
